.DS_Store
/.idea
.php_cs.cache
*.project

/vendor

/.env

/public/fileadmin
/public/typo3
/public/typo3temp
/public/uploads
/public/.htaccess
/public/index.php
/public/typo3conf/ext
/public/typo3conf/l10n
/public/typo3conf/ENABLE_INSTALL_TOOL
/public/typo3conf/PackageStates.php
/public/typo3conf/deprecation_*

/packages/site_package/Configuration/TypoScript/Constants/Env.typoscript

